/* All CSS is based off of the recources found here: https://www.reddit.com/r/UnearthedArcana/wiki/resources/ */

* {
    --text-color: rgb(0, 0, 0);
    --header-color: #58180d;
    --statblock-text-color: #9c2b1b;
    --logo-color: #ed1c24;
    --footer-text-color: #b89a67;
    --horizontal-rules-color: #c9ad6a;
    --footer-decoration-color: #e7d29b;
    --table-color: #e0e5c1;
    /* --table-color: #d8b6e4; */ /* Alternate purple color */
    --background-color: #f2ece4;
    --side-color: #aa9a85;
    --statblock-background-color: #fdfbcb;

    scroll-behavior: smooth;
}

/* Normal Text */
@font-face { /* Default */
    font-family: normalText;
    src: url(fonts/Bookmania/Bookmania/Bookmania_Regular.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face { /* Bold */
    font-family: normalText;
    src: url(fonts/Bookmania/Bookmania/Bookmania\ Bold.otf);
    font-weight: bold;
    font-style: normal;
}
@font-face { /* Italic */
    font-family: normalText;
    src: url(fonts/Bookmania/Bookmania/Bookmania\ Regular\ Italic.otf);
    font-weight: normal;
    font-style: italic;
}
@font-face { /* Italic & bold */
    font-family: normalText;
    src: url(fonts/Bookmania/Bookmania/Bookmania\ Bold\ Italic.otf);
    font-weight: bold;
    font-style: italic;
}

/* Headers */
@font-face {
    font-family: headers;
    src: url(fonts/MrsEaves/Mr_Eaves_Small_Caps.otf);
}

/* Table Text */
@font-face { /* Default */
    font-family: tableText;
    src: url(fonts/ScalaSans/ScalaSans/scala-sans-regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face { /* Bold */
    font-family: tableText;
    src: url(fonts/ScalaSans/ScalaSans/scala-sans-bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face { /* Thin text (italix) */
    font-family: tableText;
    src: url(fonts/ScalaSans/ScalaSans/scala-sans-regular-italic.ttf);
    font-weight: normal;
    font-style: italic;
}

body {
    background-color: var(--side-color);
}

main {
    max-width: 1250px;
    margin: 0px auto;
    box-sizing: border-box;
    background-color: var(--background-color);
    overflow: auto;
    padding: 2em;
}

h1, h2, h3, h5 {
    color: var(--header-color);
    font-family: "headers";
    margin: 20px 10px 0px 10px;
}

/* Title (Class Name) */
h1 {
    margin-top: 60px;
    font-size: 48px;
}

/* Class Features / Subclass Names */
h2 {
    font-size: 40px;
}

hr {
    margin: 0px 10px 10px 10px;
    border: 2px solid var(--horizontal-rules-color);
}

/* Subclass Features / Sub-sections (IE "Starting equipment" or "Preparing a casting spells") */
h3 {
    font-size: 30px;
}

/* List items (IE Fighting Style options or eldritch invocations)*/
h5 {
    font-size: 24px;
}

/* Normal Text */
p, li, h4 {
    color: var(--text-color);
    font-size: 18px;
    font-family: "normalText";
    margin: 0px 10px;
}

.lore {
    font-family: "tableText";
}

ul {
    margin: 0;
    list-style-type: none;
}

.itemList {
    list-style-type: disc;
}

.newP {
    text-indent: 1rem;
}

/* Reminder Rules Boxes */
.RulesReminder {
    width: fit-content;
    background-color: var(--table-color);
    padding: 8px;
    margin: 14px 0px;
}

.RulesReminder h2 {
    font-family: "normalText";
    font-weight: bold;
    font-size: 22px;
    color: var(--text-color);
    margin-top: 0;
}

/* Tables */
table {
    border: 0px;
    border-spacing: 0px;
    max-width: 500px;
    margin-left: 20px;
}

.MediumTable {
    min-width: 300px;
}

.expandedSpellList th:nth-child(2) {
    font-style: italic;
}

/* Class Feature tables */
.ClassFeatures {
    margin: 10px;
    padding: 10px;
    padding-right: 30px;
    border: 2px var(--text-color) solid;
    width: fit-content;
}
.ClassFeatures table {
    min-width: 100%;
    margin-right: 10px;
}
.ClassFeatures h4 {
    margin-left: 20px;
}
/* Every collumn should be centered except for the features collumn */
.ClassFeatures table tr th {
    text-align: center;

    /* TODO: This is not the right font, but it will have to do for now */
    font-family: sans-serif;
}
.ClassFeatures table th:nth-child(3) {
    text-align: left;

    /* TODO: Find a way to make the width expand as much as possible to fit the content without hard-coding 300px */
    min-width: 200px;
}

th {
    font-size: 17px;
    font-family: "tableText";
    text-align: left;
    font-weight: normal;
    padding: 5px;
    padding-right: 10px;
}

th:nth-child(1) {
    text-align: center;
}

/* Gotten from here: https://stackoverflow.com/questions/3084261/alternate-table-row-color-using-css */
tr:nth-child(even) {
    background-color: var(--table-color);
}
tr:nth-child(1) th {
    font-weight: bold;
}

h4 {
    font-size: 22px;
    font-family: "tableText";
    font-weight: bold;
}

/* Sections that say "spell-save" DC and "spell-attack-modifier" after "Spellcasting ability"*/
.spellcastingNumbers {
    text-align: center;
    margin: 0px 30px;
}

.StatBlock {
    font-family: "tableText";
    max-width: 50%;
    padding-bottom: 10px;
    margin: 10px 0px;
    background-color: var(--statblock-background-color);
    min-width: 500px;
    height: fit-content;

    border-top: 10px;
    border-bottom: 10px;
    border-style: solid;
    border-color: var(--horizontal-rules-color);
}

.StatBlock h1 {
    font-size: 34px;
    color: var(--statblock-text-color);
    margin-top: 10px;
}

.StatBlock h2 {
    font-size: 24px;
    font-family: "tableText";
    color: var(--statblock-text-color);
}

.StatBlock p {
    font-family: "tableText";
    font-size: 17px;
    color: var(--statblock-text-color);
}

.StatBlock hr {
    border: 1px solid var(--statblock-text-color);
}

.StatBlock .typeLine {
    font-style: italic;
    font-size: 16px;
    color: var(--text-color);
}

.StatBlock .Action {
    color: var(--text-color);
}

.StatBlock img {
    width: 100%;
    margin: 0px 10px;
    color: var(--text-color);
}

.ScoreRow {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.evenColumns {
    display: flex;
}

.evenColumns div {
    flex: 50%;
}

.twoColumns {
    column-count: 2;
}

.threeColumns {
    column-count: 3;
}

.fourColumns {
    column-count: 4;
}

.spellList {
    padding-left: 0;
}

.spellList li {
    font-style: italic;
}

.twoColumns :nth-child(1), .threeColumns :nth-child(1), .fourColumns :nth-child(1) {
    margin-top: 0px;
}

.twoColumns, .threeColumns, .fourColumns {
    margin-top: 10px;
}

.navBar {
    display: flex;
    background-color: var(--footer-text-color);
    width: fit-content;
    padding: 10px;
    border-radius: 4px;
}

.navBar div {
    font-family: "normalText";
    background-color: var(--footer-decoration-color);
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
}